# This [YAML](http://www.yaml.org/spec/1.2/spec.html#id2761803) configures
# the normalizationa of inputs, their relation to channels and styles to be
# used for drawing histograms.
#
# Each MC sample is called **Input**, e.g.:
#
#   stop-s, stop-t, wjets, zjet
#
# Inputs are groupped into **Channel**s, e.g.:
#
#   stop-s, stop-t, stop-tw, etc.           -> stop
#   ttbar                                   -> ttbar
#
# Each input plot is automatically scaled with luminosity, corresponding
# cross-section and number of events. These numbers are defined in the config
# below
#
# Warning: use unique names in inputs. The same is applied to channels
#
# ------------------------------------------------------------------------------
#
# ROOT Color Constants: used for back reference in YAML and NOT used in the code
#
color:
    # Get colors from ROOT in interactive session:
    # root [0] kRed
    # (const enum EColor)632
    #
    black: &black 1
    red: &red 632
    blue: &blue 600
    green: &green 416
    magenta: &magenta 616
    yellow: &yellow 400
    azure: &azure 860
    gray: &gray 920

# Luminosity in [pb-1]
luminosity: 16500 
# Collition energy in [TeV]
energy: 8 

# Each input is defined by its name, number of processed events, and
# cross-sectionb. Each input can be turned ON or OFF from loading.
#
input:
    # SM ttbar
    #     
    - name: MC.TTbar
      events: null
      xsection: null
      enable: True
    - name: MC.TTbar_700to1000
      events: null
      xsection: null
      enable: True
    - name: MC.TTbar_1000toInf
      events: null
      xsection: null
      enable: True
    # Z + jets
    #
    - name: MC.DYJets_10to50
      events: null
      xsection: null
      enable: True
    - name: MC.DYJets_50toInf 
      events: null
      xsection: null
      enable: True
    - name: MC.DY1Jets_50toInf 
      events: null
      xsection: null
      enable: True
    - name: MC.DY2Jets_50toInf
      events: null
      xsection: null
      enable: True
    - name: MC.DY3Jets_50toInf
      events: null
      xsection: null
      enable: True
    - name: MC.DY4Jets_50toInf
      events: null
      xsection: null
      enable: True
    # W + jets
    #
    - name: MC.WJets
      events: null
      xsection: null
      enable: True
    - name: MC.W1Jets
      events: null
      xsection: null
      enable: True
    - name: MC.W2Jets
      events: null
      xsection: null
      enable: True
    - name: MC.W3Jets
      events: null
      xsection: null
      enable: True
    - name: MC.W4Jets
      events: null
      xsection: null
      enable: True
    # Single-top(s)
    #
    - name: MC.SingleTop_T_sch 
      events: null
      xsection: null
      enable: True
    - name: MC.SingleTop_T_tch
      events: null
      xsection: null
      enable: True
    - name: MC.SingleTop_T_tWch
      events: null
      xsection: null
      enable: True
    - name: MC.SingleTop_Tbar_sch
      events: null
      xsection: null
      enable: True
    - name: MC.SingleTop_Tbar_tch
      events: null
      xsection: null
      enable: True
    - name: MC.SingleTop_Tbar_tWch
      events: null
      xsection: null
      enable: True
    # Diboson
    #
    - name: MC.WW 
      events: null
      xsection: null
      enable: True
    # Data samples
    #
    - name: DATA.DATA
      events: null
      xsection: null
      enable: True
    # Data-driven qcd sample
    #  
    - name: DATA.QCD
      events: null
      xsection: null
      enable: True
# Define policy on how inputs can be grouped into channels
#
channel:
    # Define how inputs can be grouped into channels
    # color is specified by [base, shift] 
    - name: ttbar
      inputs: [MC.TTbar, MC.TTbar_700to1000, MC.TTbar_1000toInf]
      legend: !!str "QCD t#bar{t}"
      color: [*red, -3]
      fill: True
      line: null
    - name: wjets
      inputs: [MC.WJets, MC.W1Jets, MC.W2Jets, MC.W3Jets, MC.W4Jets]
      legend: !!str "W#rightarrowl#nu"
      color: [*green, -3]
      fill: True
      line: null
    - name: zjets
      inputs: [MC.DYJets_10to50, MC.DYJets_50toInf, MC.DY1Jets_50toInf, MC.DY2Jets_50toInf, MC.DY3Jets_50toInf, MC.DY4Jets_50toInf]
      legend: !!str "Z/#gamma*#rightarrowl^{+}l^{-}"
      color: [*azure, -2]
      fill: True
      line: null
    - name: stop
      inputs: [MC.SingleTop_T_sch, MC.SingleTop_T_tch, MC.SingleTop_T_tWch, MC.SingleTop_Tbar_sch, MC.SingleTop_Tbar_tch, MC.SingleTop_Tbar_tWch]
      legend: !!str "Single-Top"
      color: [*magenta, 0]
      fill: True
      line: null
    - name: diboson
      inputs: [MC.WW]
      legend: !!str "Diboson"
      color: [*magenta, -4]
      fill: True
      line: null
    # Data channels
    #
    - name: data
      inputs: [DATA.DATA]
      legend: !!str "CMS Data 2012"
      color: [*black, 0] # black color
      fill: False
      line: null
    - name: qcd
      inputs: [DATA.QCD]
      legend: !!str "QCD data-driven"
      color: [*yellow, 1]
      fill: True
      line: null
# Channel order in plots: all other channels not included here will be added
# to the bottom of the list. Abbreviations are NOT accepted
#
order:
    - wjets
    - ttbar
    - zjets
    - stop
    - diboson
    - data
expand:
   mc: !!str '^(ttbar|wjets|stop|zjets|diboson)$'
