# This [YAML](http://www.yaml.org/spec/1.2/spec.html#id2761803) configures
# the plot rebinning, title and units (that are automatically added to the
# axis title)
#
# WARNING: use unique names in name(s)
#
# ------------------------------------------------------------------------------
#
# units is a dump dictionary that is removed from the config on load. It is
# only used as a reference in axis units and to reduce the file size
#
units:
    momentum_gev: &momentum_gev !!str "GeV/c"
    mass_gev: &mass_gev !!str "GeV/c^{2}"
    mass_tev: &mass_tev !!str "TeV/c^{2}"
    angle: &angle !!str "rad"
    distance: &distance !!str "cm"
# each plot is defined by its name, rebinning, range, units and title. All of
# the items are required. Prefix each entry with x and y in the 2D case.
#
plot:
    - name: /Event/MET
      rebin: 2
      range: null
      units: null
      title: !!str "#slash{E}_{T}"
    - name: /Event/HT
      rebin: null
      range: null
      units: *momentum_gev
      title: !!str "H_{T}^{all}"
    - name: /Event/HTLep
      rebin: null
      range: null
      units: *momentum_gev
      title: !!str "H_{T}^{lep}"
    - name: /Event/N_PrimVertices
      rebin: null
      range: null
      units: null
      title: !!str "N_{primary vertex}"
    - name: /Jets/NJets
      rebin: null
      range: null
      units: null
      title: !!str "N_{jets}"
    - name: /Chi2/M_ttbar_rec
      rebin: 2
      range: null
      units: *mass_gev
      title: !!str "M_{t#bar{t}}"
    - name: /Chi2/M_toplep_rec
      rebin: null
      range: null
      units: *mass_gev
      title: !!str "M_{toplep}"
    - name: /Chi2/Pt_toplep_rec
      rebin: null
      range: null
      units: *momentum_gev
      title: !!str "toplep P_{T}"
    - name: /Chi2/M_tophad_rec
      rebin: null
      range: null
      units: *mass_gev
      title: !!str "M_{tophad}"
    - name: /Chi2/Pt_tophad_rec
      rebin: null
      range: null
      units: *momentum_gev
      title: !!str "tophad P_{T}"
    - name: /Chi2/Discriminator
      rebin: null
      range: null
      units: null
      title: !!str "#chi^{2}"
    - name: /Jets/pt_jet1_lx
      rebin: 2
      range: null
      units: *momentum_gev
      title: !!str "jet1 P_{T}"
    - name: /Jets/pt_jet2_lx
      rebin: 2
      range: null
      units: *momentum_gev
      title: !!str "jet2 P_{T}"
    - name: /Jets/pt_jet3_lx
      rebin: 2
      range: null
      units: *momentum_gev
      title: !!str "jet3 P_{T}"
    - name: /Jets/pt_jet4_lx
      rebin: 2
      range: null
      units: *momentum_gev
      title: !!str "jet4 P_{T}"
    - name: /Jets/eta_1
      rebin: 4
      range: null
      units: null
      title: !!str "jet1 #eta"
    - name: /Jets/eta_2
      rebin: 4
      range: null
      units: null
      title: !!str "jet2 #eta"
    - name: /Jets/eta_3
      rebin: 4
      range: null
      units: null
      title: !!str "jet3 #eta"
    - name: /Jets/eta_4
      rebin: 4
      range: null
      units: null
      title: !!str "jet4 #eta"
    - name: /Electron/number
      rebin: null
      range: null
      units: null
      title: !!str "N electron"
    - name: /Electron/pT
      rebin: 4 
      range: null
      units: *momentum_gev
      title: !!str "electron P_{T}"
    - name: /Electron_Chi2Cuts/pT
      rebin: 4
      range: null
      units: *momentum_gev
      title: !!str "electron P_{T}"
    - name: /Electron/eta
      rebin: 4
      range: null
      units: null
      title: !!str "electron #eta"
    - name: /Chi2_NoCuts/Discriminator_3
      rebin: 8
      range: null
      units: null
      title: !!str "#Chi^2"
